/motRestApi/.python-version
/motRestApi/motRestApi/__pycache__
/motRestApi/backApp/__pycache__
/motRestApi/backApp/migrations/__pycache__
/motRestApi/frontend/__pycache__
/motRestApi/frontend/migrations/__pycache__
**/.DS_Store
data